starwar       	  v1
secgame            ?
seed               ?
nb_players    	   4
nb_rnds       	  50
nb_rows       	  15
nb_uni_cols   	  60
nb_win_cols   	  31
nb_ships_x_player  2
nb_rnds_regen 	  50
nb_miss_bonuses    1
nb_point_bonuses   5
bonus_miss         0
bonus_pnts        10
kill_pnts         30
names             ? ? ? ?

rnd 0

   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789
00 ...............XX...........................................
01 XXXXXXXXXXXX....PX..........................................
02 ...............XX...........................................
03 XXXXXXXXXXXXXX.X............................................
04 .............X.X............................................
05 .............X.PXX..........................................
06 .............XXX............................................
07 ............................................................
08 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
09 .PX.........................................................
10 ..X.........................................................
11 .PX......................................................... 
12 ..X.........................................................
13 .PX.........................................................
14 ..X.........................................................
 

starships
sid     row     column  nb_miss alive   time
0	02	00	0	y	0
1	00	00	0	y	0
2	09	00	0	y	0 
3	10	00	0	y	0
4	11	00	0	y	0 
5	12	00	0	y	0
6	13	00	0	y	0
7	14	00	0	y	0

missiles
0
mid      sid	row     column

players
pid	score	status
0	0	0
1	0	0
2	0	0
3	0	0